# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv
*.tsv
*.json
*.xml
*.h5
*.hdf5
*.pkl
*.pickle
*.zip
*.tar.gz
# FOR CIFAR 10
*.html
*.meta

# Ignore model files
*.h5
*.hdf5
*.pb
*.pt
*.pth
*.onnx

# Ignore temporary files
*.tmp
*.log
*.bak

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class